{
  "exclude": "node_modules/**",
  "sourceMaps": false,
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [">2%", "Edge > 14", "Firefox > 63", "Chrome > 67", "Safari > 10"]
        }
      }
    ]
  ]
}
