{
  "exclude": "node_modules/**",
  "sourceMaps": false,
  "plugins": ["@babel/plugin-proposal-object-rest-spread"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [">2%", "edge > 14", "firefox > 63", "chrome > 50"]
        }
      }
    ]
  ]
}
