
  body {
    background: var(--secondary-background);
  }
  docs-main {
    background: var(--secondary-background);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  