:root {
    --primary-font-family: 'Roboto', 'Noto', sans-serif;

    /* Light Mode
    --primary-color: #03a9f4;
    --header-text-color: #fff;
    --text-color: #212121;
    --primary-background: #fff;
    --secondary-background: #fafafa;
    --divider-color: #dbdbdb;
    */

    /* Dark Mode */
    --primary-color: #2d8942;
    --header-text-color: #fff;
    --text-color: #fafafa;
    --primary-background: #5b5b5b;
    --secondary-background: #393838;
    --divider-color: #929090;

    --header-background: #0b0b0b;
    --card-background: var(--header-background);
    --content-container-background: var(--secondary-background);

    --sidebar-background: var(--primary-background);
    --sidebar-secondary-background: var(--secondary-background);
    --sidebar-icon-color: var(--text-color);
    --sidebar-text-color: var(--text-color);
    --sidebar-selected-icon-color: #a6e22e;
    --sidebar-selected-text-color: #a6e22e;

    --paper-tabs-selection-bar-color: var(--header-text-color);
    --paper-tab-ink: var(--header-text-color);

    --search-results-background: var(--primary-background);
    --search-input-background: var(--primary-background);
    --search-input-text-color: var(--text-color);
    --search-result-item-color: #a6e22e;

    --markdown-font-family: var(--primary-font-family);
    --markdown-primary-color: var(--primary-color);
    --markdown-heading-color: #ffffff;
    --markdown-text-color: var(--text-color);
    --markdown-link-color: #a6e22e;
    --markdown-divider-color: var(--divider-color);
    --markdown-primary-background: #454444;
    --markdown-secondary-background: #343333;
    --markdown-pre-background: #121212;
    --markdown-code-background: #242525;
}
