body {
  --primary-color: #03a9f4;
  --background-color: #A0A0A0;
  --paper-card-background-color: #ffffff;
  --paper-tab-color: #ffffff;
  --sidebar-background-color: #ffffff;
  --sidebar-icon-color: #000000;
  --sidebar-text-color: #000000;
}
