:root {
    --primary-color: #03a9f4;
    --text-primary-color: #ffffff;
    --primary-text-color: #212121;
    --primary-background-color: #fafafa;
    /* --lovelace-background: #fafafa; */
    --paper-listbox-background-color: #ffffff;
    --sidebar-icon-color: #212121;
    --sidebar-text-color: #212121;
    --sidebar-selected-icon-color: var(--primary-color);
    --sidebar-selected-text-color: var(--primary-color);
    font-family: var(--paper-font-common-base_-_font-family);
}