:root {
    --primary-font-family: 'Roboto', 'Noto', sans-serif;

    /* Light Mode */
    --primary-color: #03a9f4;
    --header-text-color: #fff;
    --text-color: #212121;
    --primary-background: #fff;
    --secondary-background: #fafafa;
    --divider-color: #dbdbdb;

    /* Dark Mode
    --primary-color: #38a2d2;
    --header-text-color: #fff;
    --text-color: #fafafa;
    --primary-background: rgb(70, 70, 70);
    --secondary-background: #383838;
    --divider-color: #5f5f5f;
    */

    --card-background: var(--primary-background);
    --content-container-background: var(--secondary-background);
    --search-results-background: var(--primary-background);
    --sidebar-background: var(--primary-background);
    --sidebar-secondary-background: var(--secondary-background);
    --sidebar-icon-color: var(--text-color);
    --sidebar-text-color: var(--text-color);
    --sidebar-selected-icon-color: var(--primary-color);
    --sidebar-selected-text-color: var(--primary-color);
    --paper-tab-ink: var(--header-text-color); /* Tab highlight on click */
    --paper-tabs-selection-bar-color: var(--header-text-color);

    --markdown-font-family: var(--primary-font-family);
    --markdown-primary-color: var(--primary-color);
    --markdown-text-color: var(--text-color);
    --markdown--divider-color: var(--divider-color);
    --markdown-primary-background: var(--primary-background);
    --markdown-secondary-background: var(--secondary-background);
}