name: Issue Autoresponse

on:
  issues:
    types: [opened]

jobs:
  auto-response:
    runs-on: ubuntu-latest

    steps:
    - uses: derekprior/add-autoresponse@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        respondableId: ${{ github.event.issue.node_id }}
        response: "Please, be sure to read the [issues section]() of the docs and provide the required information. You may not recieve a response until you have done so."
        author: ${{ github.event.issue.user.login }}
        exemptedAuthors: 'maykar'
